{% extends 'movieapp/base.html' %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Your Favourite Movie App </h1>
        <p class="lead">Follow The Links Bellow to Add or View Your Favourite Movie!</p>
        <ul class="list-unstyled">
          <li><a href="{% url 'list_movie' %}">View Movies</a></li>
          <li> <a href= "{% url 'create_movie' %}"> Add Movie </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock content %}